.users-list{
    margin-top: 50px;
    span{
        position: fixed;
        bottom: 0px;
        display: flex;
        padding-bottom: 10px;
        height: 50px;
        width: 100%;
        background-color: #fff;
    }
    .add-new-user {
        border-radius: 50%;
        padding: 0px 7px;
        color: #fff;
        margin-right: 30px;
        background-color: #1e7b7e;
        text-decoration: none;
        &:hover {
            border: 1px solid #1e7b7e;
            background-color: #fff;
            color: #1e7b7e;
        }
        svg{
            width: 35px;
            height: 32px;
            margin-top: 10px;
        }
    

    }

    table{
        width: 90%;
        margin: 25px 30px;
        border-collapse: collapse;
        th, td{
            border: 1px solid #ddd;
            padding: 8px;
            a{
                display: flex;
                text-decoration: none;
            }
          }
          tr{
            a{
                width: 90%;
            display: contents;
                text-decoration: none;
            }
          }
          tr:hover {
            box-shadow: inset 0 0 0 99999px #85aeaf;;
        }
        .edit-and-delete{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }
        .icon{
            background: none;
            border: none;
            align-items: center;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            &:hover{
                background-color: #fff;
                border: 1px solid #000;
                border-radius: 5px;
                
            }
    }
        svg{
            color: #000;
        }
    }
}