.user{
    display: flex;
    height: 94vh;
    padding: 20px;
    background-color: #1e7b7e;
    .back-to-users-list {
        position: fixed;
        display: flex;
        bottom: 38px;
        height: 40px;
        border-radius: 50%;
        color: #fff;
        cursor: pointer;
        background-color: #1e7b7e;
        width: 40px;
        right: 50px;
        align-items: center;
        a{
            width: 100%;
        }
    }
    .user-details{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 40%;
        background-color: #fff;
        margin-left: 20px;

        .input-class{
            display: flex;
            margin: 15px 10px;
            label{
                width: 100px;
            }
            input{
                font-size: 22px;
                width: 200px;
                border-radius: 5px;
                padding: 3px;
            }
        }
    }
    .user-vaccin-details{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 58%;
        background-color: #fff;
        table{
            width: 90%;
            margin: 25px 30px;
            border-collapse: collapse;
            .plus-row, .plus-col{
                border: none;
            }
            td,  th {
                border: 1px solid #ddd;
                padding: 8px;
              }
              
            .add-row-btn{
                background:none;
                border: none;
                
                svg{
                    background-color: #1e7b7e;
                    color: #fff;
                    border-radius: 50%;
                    padding: 3px;
                    font-size: 22px;
                }
            }
            
        }
    }
    .btn{
            border-radius: 5px;
            padding: 5px 15px;
            color: #fff;
            margin-right: 30px;
            background-color: #1e7b7e;
            text-decoration: none;
            font-size: 22px;
            border: none;
            &:hover {
                border: 1px solid #1e7b7e;
                background-color: #fff;
                color: #1e7b7e;
            }
    }
}